<div id="sidebar">
    <mat-nav-list>
        <!--<a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>-->

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cadastrar']">
            <mat-icon class="sidenav-icon">assigment</mat-icon> {{ 'Cadastrar' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/listar']">
            <mat-icon class="sidenav-icon">list</mat-icon> {{ 'Listar' | translate }}
        </a>
    </mat-nav-list>
</div>
